@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	max-width: 1200px;
	margin: auto;
	padding: 16px;
	font-family: 'Montserrat', sans-serif;
	background-image: url(../images/design\ \(75\).jpg);
	
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	padding: 8px;
	background-color: #7451eb;
	text-align: center;
	color: white;
}
header img {
	height: 60px;
	margin-left: 1rem;
}
header h1 {
	flex-grow: 1;
}

main {
	display: flex;
	flex-direction: row;
}

.filtres {

	@apply rounded shadow-lg m-[8px] p-[8px] min-w-[300px] min-h-[400px] bg-white;	
}
.filtres h3 {
	text-align: center
}

.fiches {
	
	 @apply flex-1 m-[8px] grid grid-cols-4 gap-[4px] rounded;
	
}
.fiches article {

	@apply border border-black  p-[4px] rounded ;
}

.fiches article img {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
}
.fiches article p {
	margin-top: 4px;
	margin-bottom: 4px;
}
.fiches article h2 {
	@apply text-center
}
.btn{
	@apply py-1 px-3 bg-blue-400 rounded border hover:bg-blue-300 hover:transition duration-500 flex items-center
}