@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	max-width: 1200px;
	margin: auto;
	padding: 16px;
	font-family: 'Montserrat', sans-serif;
	background-image: url(../images/design\ \(75\).jpg);
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(3px);
    @apply scrollbar-thin scrollbar-track-slate-200 scrollbar-thumb-slate-300;
	
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	padding: 8px;
	/* background-color: #7451eb; */
	@apply bg-gradient-to-r from-blue-500 to-blue-300;
	text-align: center;
	color: white;
}
header img {
	height: 60px;
	margin-left: 1rem;
}
header h1 {
	flex-grow: 1;
}

main {
	display: flex;
	flex-direction: row;
}

.filtres {

	@apply rounded shadow-lg m-[8px] p-[8px]  max-h-[550px] overflow-y-hidden bg-white scrollbar-thin scrollbar-track-white scrollbar-thumb-slate-300;	
}

.filtres::-webkit-scrollbar-thumb{
	@apply rounded-lg
}
.fiches::-webkit-scrollbar-thumb{
	border-radius: 50px;
}
	

.filtres h3 {
	text-align: center
}

.fiches {
	
	 @apply flex-1 m-[8px] grid grid-cols-4 gap-[4px] rounded max-h-[550px] overflow-y-hidden scrollbar-thin scrollbar-track-blue-300 scrollbar-thumb-slate-300;
	
}
.fiches article {

	@apply  shadow-sm max-w-[197px] max-h-[356px]   p-[4px] rounded ;
}

.f{
	@apply bg-blue-500 px-3 py-1 rounded-lg  hover:translate-x-1 text-white;
}

.g{
	@apply bg-zinc-800 text-white
}

.h{
	@apply transition duration-300;
}

.fiches article img {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
	@apply flex justify-center items-center
}
.fiches article p {
	margin-top: 4px;
	margin-bottom: 4px;
}
.fiches article h2 {
	@apply text-center
}
.btn{
	@apply py-1 px-3 bg-blue-400 rounded text-white border hover:bg-blue-300 hover:transition duration-500 flex items-center
}

.l{
	@apply bg-white
}